.mobile.element.carousel {
    img {
        width: 100%;
    }
}
.mobile.element.form {
    textarea {
        height: 250px;
    }
    .buttons {
        .btn-default {
            margin-bottom: 10px;
        }
    }
}
.mobile.element.list {
    .list {
        background-color: #f1f1f1;
    }
    .item {
        @media print {
            padding: 10px 0;
        }
        @media handheld, only screen and (max-width: 320px) {
            margin-bottom: 0;
        }
        padding: 15px 20px;
        margin: 10px 0;

        &.odd {
            background-color: #fff;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.75;
            filter:alpha(opacity=75);
        }
    }
    .title {
        font-size: 135%;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .image {
        @media handheld, only screen and (max-width: 480px) {
            width: 205px;
            height: 154px;
        }
        @media handheld, only screen and (max-width: 320px) {
            width: 100px;
            height: 75px;
            float: right;
            padding-right: 0;
        }
        float: left;
        width: 150px;
        height: 113px;
        padding-right: 20px;
        overflow: hidden;
    }
    .infos1 {
        @media handheld, only screen and (max-width: 320px) {
            float: none;
        }
        float: left;
        font-weight: bold;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .infos2 {
        @media handheld, only screen and (max-width: 320px) {
            float: none;
        }
        float: left;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .infos3 {
        float: left;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .price {
        text-align: right;
        float: right;
        padding-top: 5px;
        font-size: 150%;
        .pricenote {
            @media handheld, only screen and (max-width: 768px) {
                font-size: 55%;
            }	
            font-size: 45%;
        }
    }
    .clearer {
        clear: both;
        height: 0;
    }
}
.mobile.element.result {
    .nav-tabs {
        margin-bottom: 20px;
    }
}
.mobile.element.filter {
    label {
        font-size: 80%;
    }
    select {
        width: 100%
    }
    .infos {
        margin: 10px 0;
    }
    .buttons {
        margin-top: 20px;

        .btn-primary {
            margin-bottom: 10px;
        }
    }
}
.mobile.element.image {
    max-width: 100%;

    &:hover {
        cursor: pointer;
    }
}
.mobile.element.gallery {
    width: 100%;
    .amount {
        padding: 10px 0;
        font-size: 130%;
    }	
    .item {
        float: left;
        height: auto;
        margin: 5px;
        &:hover {
            cursor: pointer;
            opacity: 0.75;
            filter:alpha(opacity=75);
        }
        .id {
            margin-left: 5px;
            float: left;
            font-size: 75%;
        }
        .price {
            margin-right: 5px; 
            text-align: right;
            font-size: 85%;
            font-weight: bold;
        }
    }
    .image {
        @media print {
            width: 150px;
            height: 112px;
        }
        @media handheld, only screen and (min-width: 769px) {
            width: 175px;
            height: 130px;
        }
        @media handheld, only screen and (max-width: 768px) {
            width: 155px;
            height: 120px;
        }
        @media handheld, only screen and (max-width: 480px) {
            width: 120px;
            height: 92px;
        }
        @media handheld, only screen and (max-width: 320px) {
            width: 115px;
            height: 86px;
        }
        margin-bottom: 5px;
    }
}
.mobile.element.search {
    &.loading {
        .amount {
            display: none;
        }
        .loadingmessage {
            font-size: 130%;
            display: block;
        }
    }
    .loadingmessage {
        display: none;
    }
    .amount {
        font-size: 130%;
    }
}
.mobile.page.detail {
    .image {
        margin-bottom: 20px;
    }
    .details {
        .price {
            vertical-align: middle;
            font-size: 150%;
            .pricenote {
                font-size: 60%;
            }
        }
        .qrcode {
            float: left;
        }
    }
    .infos {
        padding-bottom: 20px;
    }    
    .contact {
        table {
            td.spacing {
                width: 20px;
            }
        }
    }
}