body 
{
	font-family: sans-serif, arial;
}

header  
{
	background-color: #fff;
}

header h1
{
	color: #004176;
}

header h1 div
{
	color: black;
}

nav
{
	background-color: #004176;
}

.ym-hlist
{
	background-color: #004176;
}

.ym-hlist ul li a, .ym-hlist ul li strong
{
		color: #e1e1e1;
}







.infos{
	background-color: #f1f1f1;
	font-size: 8pt;
	padding: 10px;
	margin: 5px 0;
	color: #333;
}

.notes{
	background-color: #CCDFFF;
	color: #000000;
	padding: 5px;
}
.warnings{
	background-color: #FFF3CC;
	color: #000000;
	padding: 5px;
}
.errors{
	background-color: #FFCCD1;
	color: #000000;
	padding: 10px;
	margin: 5px 0;
}
.critical{
	background-color: #FF8C97;
	color: #000000;
	padding: 5px;
}
.back{
	background-color: #f1f1f1;
}
