body {
	font-family: sans-serif, arial;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.5em;	
}
h1 {
	color: #004176;
}

a {
	color: #2C8DDB;
	text-decoration: none;
}

#header {
	padding: 20px 0;
}
#header h1 {
	color: #004176;
	font-size: 275%;
	line-height: 0.8em;	
}
#header h1 div {
	padding-left: 105px;
	color: black;
	font-size: 75%;
}

#nav {
	background-color: #004176;
	color: #fff;
}

#main {
	padding: 30px 0;
	font-size: 0.9em;
	line-height: 1.5em;
}
#main h1, #main h2 {
	padding: 5px 0;
}

#content {
	text-align: justify;
}

#sidebar {
	text-align: justify;
}

#footer {
	background-color: #e1e1e1;
	padding: 20px 0;
	font-size: 0.8em;
	color: #333;
}
#footerlinks {
	float: right;
}
#footerlinks a{
	padding-left: 20px;
	color: #888;
}
#footerlinks a:hover {
	color: #aaa;
}



.infos{
	background-color: #f1f1f1;
	font-size: 8pt;
	padding: 10px;
	margin: 5px 0;
	color: #333;
}

.notes{
	background-color: #CCDFFF;
	color: #000000;
	padding: 5px;
}
.warnings{
	background-color: #FFF3CC;
	color: #000000;
	padding: 5px;
}
.errors{
	background-color: #FFCCD1;
	color: #000000;
	padding: 10px;
	margin: 5px 0;
}
.critical{
	background-color: #FF8C97;
	color: #000000;
	padding: 5px;
}
.back{
	background-color: #f1f1f1;
}
