body 
{
	font-family: sans-serif, arial;
	padding: 10px;
}








.infos{
	background-color: #f1f1f1;
	font-size: 8pt;
	padding: 10px;
	margin: 5px 0;
	color: #333;
}

.notes{
	background-color: #CCDFFF;
	color: #000000;
	padding: 5px;
}
.warnings{
	background-color: #FFF3CC;
	color: #000000;
	padding: 5px;
}
.errors{
	background-color: #FFCCD1;
	color: #000000;
	padding: 10px;
	margin: 5px 0;
}
.critical{
	background-color: #FF8C97;
	color: #000000;
	padding: 5px;
}
.back{
	background-color: #f1f1f1;
}
